{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Contact`s book{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<!--    navbar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Contact`s book</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'add' %}">Add contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"  href="{% url 'about' %}">About Contact`s book</a>
            </li>
          </ul>

          <!-- Форма пошуку контактів -->
          <!-- method="get" - дані передаються через URL як параметри (?q=...),
            що дозволяє зберігати та ділитись посиланням на результати пошуку.
            action="" - форма відправляється на поточну сторінку. -->
          <form
                  class="d-flex"
                  role="search"
                  method="get"
                  action=""
          >
            <!-- Поле введення пошукового запиту.
             name="q" - ім'я параметра, яке Django зчитує через request.GET.get('q').
             value="{{ query }}" - підставляє поточний пошуковий запит із контексту шаблону,
                щоб після відправки форми текст залишався у полі і користувач бачив свій запит.
             class="form-control me-2" - стилі Bootstrap: стандартне поле вводу з відступом праворуч.
             placeholder="Search" - підказка, що відображається у порожньому полі.
             aria-label="Search" - атрибут доступності для скрінрідерів (людей з вадами зору). -->
            <input
                    class="form-control me-2"
                    type="text"
                    name="q"
                    value="{{ query }}"
                    placeholder="Search"
                    aria-label="Search"
            />
            <!-- Кнопка відправки форми
             type="submit" - при натисканні ініціює відправку форми
             class="btn btn-outline-success" - стиль Bootstrap: кнопка із зеленою рамкою. -->
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>